<%= form_with(model: inventory_serial_number, local: true) do |form| %>
  <% if inventory_serial_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_serial_number.errors.count, "error") %> prohibited this inventory_serial_number from being saved:</h2>

      <ul>
      <% inventory_serial_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
      

  <div class="field">
    <%= form.label :inventory_skus_id %>
    <%= form.collection_select(:inventory_skus_id, Inventory::SKU.all, :id, :descriptive_id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
