<p id="notice"><%= notice %></p>

<p>
  <strong>Started on:</strong>
  <%= @work_order.started_on %>
</p>

<p>
  <strong>Closed on:</strong>
  <%= @work_order.closed_on %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @work_order.notes %>
</p>

<p>
  <%= form_with(model: @work_order, local: true) do |form| %>

  <div class="field">
    <strong><%= form.label :status %></strong>
    <%= form.select :status, options_for_select([['Closed','0'],['Awaiting Client Contact','1'],['Currently Active','2']], @work_order.status) %>

    <%= form.submit "Update Status" %>
<% end %>
</div>

<%= @work_order.line_items.each do |li| %>
  <p> <%= li.description %> </p>
  <% end %>

<%= render 'line_items/add_line_item', wo: @work_order %>

</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
