<%= form_for([@work_order, @new_line_item], remote: true) do |form| %>

    <%= form.collection_select(:inventory_sku_id, Inventory::SKU.all, :id, :descriptive_id) %>

    <%= form.text_field :description, id: :line_item_description %>

    <%= form.number_field :quantity, id: :line_item_quantity %>

    <%= form.hidden_field :work_order_id, id: :work_order_id, value: wo.id %>

  <div class="actions">
    <%= form.submit "New Item" %>
  </div>
  
<% end %>